# Intro to Machine Learning

In [1]:
# Dependencies and modules:

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import seaborn as sns
sns.set_theme(style="whitegrid")
import statistics
import math
from scipy import stats

# Import loans_full_schema.csv file for Warm_Up:

loans_full_schema_path = "C:/Users/Nik/Documents/loans_full_schema.csv"
loans_full_schema_df = pd.read_csv(loans_full_schema_path)
loans_full_schema_df.head(2)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0

# Warm-Up

Download the csv, store it in a logical location on your computer, convert it to a dataframe, and indicate what your hypothesis is about which factors influence if someone will pay their loan back:

In [20]:
loans_full_schema_df.sort_values('loan_status', ascending=False)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
5516,NaN,NaN,NY,MORTGAGE,52680.0,Verified,23.51,71978.0,Verified,21.34,...,F3,Jan-2018,Late (31-120 days),whole,Cash,19804.03,614.10,145.97,468.13,0.0
8303,respiratory therapist,10.0,DE,MORTGAGE,89000.0,Not Verified,8.87,NaN,NaN,NaN,...,C5,Mar-2018,Late (31-120 days),whole,Cash,7336.34,250.38,163.66,86.72,0.0
6319,carpenter foreman,3.0,CA,RENT,110000.0,Not Verified,18.69,NaN,NaN,NaN,...,C4,Mar-2018,Late (31-120 days),whole,Cash,9778.48,330.14,221.52,108.62,0.0
9595,electrician,5.0,MS,OWN,85000.0,Source Verified,30.61,NaN,NaN,NaN,...,D5,Jan-2018,Late (31-120 days),fractional,Cash,28164.73,3375.85,1835.27,1540.58,0.0
9440,marketing,2.0,FL,OWN,84000.0,Verified,28.97,NaN,NaN,NaN,...,D1,Jan-2018,Late (31-120 days),whole,Cash,28703.47,2084.89,1296.53,788.36,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,human resources representative ii,1.0,TN,MORTGAGE,62000.0,Not Verified,9.16,NaN,NaN,NaN,...,A5,Mar-2018,Charged Off,fractional,Cash,0.00,0.00,0.00,0.00,0.0
8874,NaN,NaN,MI,MORTGAGE,59000.0,Source Verified,10.92,NaN,NaN,NaN,...,B1,Jan-2018,Charged Off,fractional,Cash,0.00,0.00,0.00,0.00,0.0
671,senior vice president,9.0,MD,MORTGAGE,169880.0,Source Verified,20.61,NaN,NaN,NaN,...,C5,Feb-2018,Charged Off,whole,Cash,0.00,1673.80,1061.28,612.52,0.0
3957,president,10.0,NV,OWN,143000.0,Verified,29.31,NaN,NaN,NaN,...,B3,Jan-2018,Charged Off,fractional,Cash,0.00,1918.96,1439.33,479.63,0.0
6167,personal trainer,7.0,CA,RENT,30000.0,Not Verified,34.72,80000.0,Not Verified,20.95,...,D3,Jan-2018,Charged Off,whole,Cash,0.00,249.01,101.00,148.01,0.0

Factors that seem to influence the repayment of loans are: debt to income ratio, bankruptcy, sub_grade

# Notes

kelvin_df.loc[kelvin_df[‘Monteral’]].isna()
kelvin_df.loc[kelvin_df[‘Montreal’].isnull()]

# Lamda function

https://www.geeksforgeeks.org/applying-lambda-functions-to-pandas-dataframe/