# Week 12 Group Exercise

1. Write a lambda function to rearrange positive and negative numbers in a
given list
Sample output:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]
2. Create a new dataframe using week_11/temperatures/temperature.csv file
from last class. It should have the datetime column and one of the cities.
Create a new boolean column called is_freezing that indicates if the
temperature is at or below freezing. Use a lambda to create this column. Is
there a better way to do this than with a lambda?
3. BONUS: if you still have time, try to do a pivot of the data in question 2 so
you have the hourly data for all the cities and a flag for if it's freezing

In [1]:
# Dependencies and modules:

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import seaborn as sns
sns.set_theme(style="whitegrid")
import statistics
import math
from scipy import stats
 

# temperature.csv file:

temperature_path = "C:/Users/Nik/Documents/temperature.csv"
temperature_df = pd.read_csv(temperature_path)
temperature_df.head(1)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,10/1/2012 12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.1,NaN,NaN,NaN